.block1 {
    background-color: #2673A9;
    height: 120px;
    width: 100%;
}

.block2 {
    background-color: #9A13B3;
    height: 180px;
    width: 100%;
}
.block3 {
    background-color: #DB095B;
    height: 180px;
    width: 100%;
}
